{{template "main" .}}

{{define "title"}}{{.Title}}{{end}}

{{define "content"}}

<script lang="javascript">
    window.addEventListener(
        "keydown",
        (event) => {
            if (event.defaultPrevented) {
                return; // Should do nothing if the default action has been cancelled
            }

            let handled = false;
            if (event.key !== undefined) {
                // Handle the event with KeyboardEvent.key
                handled = true;
                console.log("key", event.key)

                if (event.key == "1") {
                    document.getElementById("form1").submit();
                }
                if (event.key == "2") {
                    document.getElementById("form2").submit();
                }
                if (event.key == "3") {
                    document.getElementById("form3").submit();
                }
            }

            if (handled) {
                // Suppress "double action" if event handled
                event.preventDefault();
            }
        },
        true,
    );

</script>

<div class="info-wrapper">
    <div class="info-left">
        <form method="POST" action="/score" name="form1" id="form1">
            <input type="hidden" id="url" name="url" value="{{.Data.Url}}" />
            <input type="hidden" id="score" name="score" value="1" />
            <button type="submit" name="1" class="submit-button">Bad</button>
        </form>
        <form method="POST" action="/score" name="form2" id="form2">
            <input type="hidden" id="url" name="url" value="{{.Data.Url}}" />
            <input type="hidden" id="score" name="score" value="3" />
            <button type="submit" name="3" class="submit-button">Ok</button>
        </form>
        <form method="POST" action="/score" name="form3" id="form3">
            <input type="hidden" id="url" name="url" value="{{.Data.Url}}" />
            <input type="hidden" id="score" name="score" value="5" />
            <button type="submit" name="5" class="submit-button">Great</button>
        </form>

        <h1>{{.Data.Title}}</h1>

        <p><a href="{{.Data.Url}}" target="_blank">"{{.Data.Url}}"</a></p>

        <div>
            {{.Data.GetHTML}}
        </div>
    </div>
    <div class="info-right"><iframe src="{{.Data.Url}}"></iframe></div>
</div>
{{end}}