/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;

}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}


html {
    scroll-behavior: smooth;

    height: 100%;
}

/* Make the body a nice central block */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
        "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica,
        "Helvetica Neue", sans-serif;
    /* font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif; */
    /* font-weight: 300; */

    background-color: #fff;
    color: #201f1f;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;

    height: 100%;
}



/* Format headers */
h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.6rem;
    margin-top: 3rem;
}

h3 {
    font-size: 2rem;
    margin-top: 3rem;
}

h4 {
    font-size: 1.44rem;
}

h5 {
    font-size: 1.15rem;
}

h6 {
    font-size: 0.96rem;
}

p {
    margin: 1.5rem 0;
}

/* Prevent long strings from overflowing container */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    text-wrap: balance;
}

/* Fix line height when title wraps */
h1,
h2,
h3 {
    line-height: 1.1;
}

/*
* 100kb
*/


main {
    max-width: 900px;
    margin: 0 auto;
}

nav {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 1em;
}

nav>* {
    text-align: center;
}

nav>*:first-child {
    text-align: left;
}

nav>*:last-child {
    text-align: right;
}

ol {
    margin-left: 0;
    padding-left: 30px;
}

li {
    margin-bottom: 0.6em;
}

li a {
    color: #BB4430;
}

nav a {
    color: #33CA7F;
}

li a,
nav a {
    text-decoration: none;
    text-underline-offset: 3px;
}

li a:hover,
nav a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 900px) {

    main,
    nav {
        margin: 0 12px;
    }

    nav {
        width: calc(100% - 24px);
    }
}

.domain {
    color: #748386;
}

h1,
h2,
h3,
h4 {
    font-weight: 400;

}

footer {
    margin-top: 2em;
    color: #748386;
    padding-bottom: 2em;
}

/*
* Scores
*/

/* .score-excellent::before {
    content: '🔥';
}
.score-good::before {
    content: '👍';
}

.score-bad, .score-poor {
    opacity: 0.5;
} */