{{define "main"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{template "title" .}}</title>

    <link rel="canonical" href='{{template "canonical" .}}' />

    <link href="/static/core.css" rel="stylesheet" />

    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png" />
    <link rel="manifest" href="/static/site.webmanifest" />

    <link rel="alternate" type="application/rss+xml" href="https://100kb.danhill.is/rss" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=DM+Mono&display=swap" rel="stylesheet" />
</head>

<body>
    {{template "content" .}}

    <script src="https://tinylytics.app/embed/VwUdWbsB2HdXRnn4oGUU.js?kudos" defer></script>
</body>

</html>
{{end}}