{{template "main" .}}

{{define "title"}}What is 100kb?{{end}}
{{define "canonical"}}https://100kb.danhill.is/about{{end}}

{{define "content"}}
<nav>

    <span></span>

    <div>
        <span>Page ~</span> |
        <a href="/about.html">About</a>
    </div>
    <a href="/">Home &raquo;</a>
</nav>
<main>
    <h1>What is this?</h1>
    <p>This is a personal project. It’s a simple feed of articles written by real people with interesting things to say.
    </p>
    <p>I wanted to explore some new technologies I haven't had a chance to try before, mostly rust and LLMs.</p>

    <button class="tinylytics_kudos"></button>
    <h2>Opinionated</h2>
    <p>As I browse HN each day I find myself most drawn to the content on personal blogs: people who have interesting
        things to say, from their own point-of-view, on a whole range of topics. Rather than being interested in
        particular topics, I’m more interested in reading from interesting people.</p>

    <p>To quote Oscar Wilde, “There is no such thing as a moral or an immoral book. Books are well written, or badly
        written.”
    </p>
    <p>I want to find all the well written content on the internet.</p>
    <p>
        To do so I started digging into features that are predictive of what, in completely my opinion, is well written
        content. The features I use are things like: is the content written in the first person, is there high content
        density (usually less than 100kb in page weight - my first feature, hence the name of the project), are there
        minimal ads/trackers/bloat, how active is the blog, and a dozen or so more.
    </p>

    <h2>How it works</h2>
    <p>It's a simple pipeline that I can run locally from a <code>crontab</code> on my desktop. The pipeline runs in a
        few steps:</p>
    <ol>
        <li>A search phase runs to find new possible blogs to index. Mostly from the latest hacker news and some public
            datasets of personal blogs.</li>
        <li>If I discover a valid RSS feeds on those blogs, I index that content.</li>
        <li>I extract features from the new content (page weight, use of ads/trackers, first/third person writing, and
            about 20 more).</li>
        <li>Articles are filtered with a simple logistic regression trained on a few hundred hacker news links I hand
            labeled.</li>
        <li>Static HTML is written and uploaded to the CDN.</li>
    </ol>
    <p>The code is mostly written in go with sqlite. I use <code>rust-bert</code> and
        Brave's rust implementation of <code>adblock</code>, both with protobuf connecting them to go (cgo/FFI was a
        nightmare).</p>

    <p>I very aggressively cache content - basically, if I get a valid response from a URL it won't be crawled again. My
        assumption is that for the personal blogs, content doesn't materially change after publication. I took a lot
        from <a href="https://rachelbythebay.com/w/2024/08/02/fs/">Rachel's writing on RSS readers</a>.</p>

    <h2>Feedback?</h2>
    <p>Would love to <a href="https://danhill.is">hear from you</a>.</p>

    <h2>Inspiration/Prior art</h2>
    <p>There's a bunch of other great work out there that does similar things. Including a lot of <a
            href="https://www.google.com/search?q=personal+blogs+site%3Anews.ycombinator.com">past hacker news
            discussions</a>.</p>
    <ol>
        <li><a href="https://searchmysite.net/search/browse/">Search my site</a></li>
        <li><a href="https://indieblog.page/all">Indie Blog</a></li>
        <li><a href="https://untested.sonnet.io/Places+to+Find+Indie+Web+Content">Places to find indie web content</a>
        </li>
        <li><a href="https://github.com/MarginaliaSearch/PublicData/blob/master/sets/random-domains.txt">Marginalia
                Search</a>
        </li>
        <li><a href="https://github.com/kagisearch/smallweb">Kagi Search - Small Web</a></li>
        <li><a href="https://bearblog.dev/discover/">Bearblog discover</a></li>
    </ol>

    <footer>
        <ul>
            <li>Total Articles: {{.TotalArticles}}</li>
            <li>Total Feeds: {{.TotalDomains}}</li>
            <li>{{.GenDate}}</li>
            <li>By <a href="https://danhill.is" rel="me" title="By Dan Hill">Dan Hill</a></li>
        </ul>
    </footer>
</main>
{{end}}