{{template "main" .}}

{{define "title"}}What is 100kb?{{end}}
{{define "canonical"}}https://100kb.danhill.is/about{{end}}

{{define "content"}}
<nav>

    <span></span>

    <div>
        <span>Page ~</span> |
        <a href="/about.html">About</a>
    </div>
    <a href="/">Home &raquo;</a>
</nav>
<main>
    <h1>What is this?</h1>
    <p>This is a personal project.</p>
    <p>I wanted an chronological feed of articles written by real people with interesting
        things to say.</p>

    <p>I also wanted to explore some new technology I haven't had a chance to try before, mostly rust and LLMs. The rest
        is very boring: golang that I've written for years, docker, sqlite etc.</p>

    <h2>Opinionated</h2>
    <p>I have a very opinionated view on what a 'quality' blog is. The types of things this project optimizes for are:
        personal blogs, written in the first person, with high content density, minimal ads/trackers/bloat, about a
        broad range of topics.</p>

    <footer>
        <ul>
            <li>Total Articles: {{.TotalArticles}}</li>
            <li>Total Feeds: {{.TotalDomains}}</li>
            <li>{{.GenDate}}</li>
            <li>By <a href="https://danhill.is" rel="me" title="By Dan Hill">Dan Hill</a></li>
        </ul>
    </footer>
</main>
{{end}}