{{template "main" .}}

{{define "title"}}{{.Title}}{{end}}
{{define "canonical"}}https://100kb.danhill.is/page/{{.Page}}{{end}}

{{define "content"}}
<nav>
    {{ if ge .PrevPage 0 }}
    <a href="/page/{{.PrevPage}}">&laquo; Previous</a>
    {{ else }}
    <span></span>
    {{ end }}
    <div>
        <span>Page {{.Page}}</span> |
        <a href="/about.html">About</a>
    </div>
    <a href="/page/{{.NextPage}}">Next &raquo;</a>
</nav>
<main>

    {{ $pos:=0 }}
    {{ $prev_date:="" }}
    {{ range .Data }}
    {{ if ne $prev_date .GetPublishedAt }}
    {{ $pos = 0 }}
    {{ if ne $prev_date "" }}</ul>{{end}}
    <h3>{{.GetPublishedAt}}</h3>
    <ul>
        {{ end }}

        <li class="{{.GetDomainClassName}}" data-score="{{.GetDomainScore}}">
            <div>
                # {{$pos}}
            </div>
            <div>
                <a href="{{.GetURL}}" target="_blank">{{.GetTitle }}</a> &bull;
                <span class="domain">{{.GetDomain}}</span>
            </div>
        </li>
        {{$prev_date = .GetPublishedAt}}
        {{ $pos = $pos+1 }}
        {{ end }}

    </ul>
    <footer>
        Total Articles: {{.TotalArticles}} | Total Feeds: {{.TotalDomains}} | {{.GenDate}}
    </footer>
</main>
{{end}}