{{template "main" .}}

{{define "title"}}{{.Title}}{{end}}
{{define "canonical"}}https://100kb.danhill.is/page/{{.Page}}{{end}}

{{define "content"}}
<nav>
    {{ if gt .PrevPage 0 }}
    <a href="/page/{{.PrevPage}}.html">Previous</a>
    {{ else }}
    <span></span>
    {{ end }}
    <span>Page {{.Page}}</span>
    <a href="/page/{{.NextPage}}.html">Next</a>
</nav>

<ul>
    {{ $prev_date:="" }}
    {{ range .Data }}
    {{ if ne $prev_date .GetPublishedAt }}
    <li>
        <h2>{{.GetPublishedAt}}</h2>
    </li>
    {{ end }}

    <li class="{{.GetDomainClassName}}" data-score="{{.GetDomainScore}}">
        <a href="{{.GetURL}}" target="_blank">{{.GetTitle }}</a> &bull;
        <span class="domain">{{.GetDomain}}</span>
    </li>
    {{$prev_date = .GetPublishedAt}}
    {{ end }}
</ul>
<footer>
    Total Articles: {{.TotalArticles}} | Total Feeds: {{.TotalDomains}} | {{.GenDate}}
</footer>

{{end}}