{{template "main" .}}

{{define "title"}}{{.Title}}{{end}}

{{define "content"}}
<nav>
    <a href="/page/{{.PrevPage}}.html">Previous</a>
    <span>{{.Page}}</span>
    <a href="/page/{{.NextPage}}.html">Next</a>
</nav>

<ul>
    {{ range .Data }}
    <li class="{{.GetDomainClassName}}"><a href="{{.GetURL}}" target="_blank">{{ .GetTitle }}</a> <br />
        {{.GetDomain}} <br />
        {{.GetDomainScore}} <br />
        
        {{.GetPublishedAt}}
    </li>
    {{ end }}
</ul>

<nav>
    <a href="/page/{{.PrevPage}}.html">Previous</a>
    <span>{{.Page}}</span>
    <a href="/page/{{.NextPage}}.html">Next</a>
</nav>
{{end}}